// nested 
$color-blue : #2a73dd;

$color-blue-dark : #1d365e;

$color-white1 : #f5f9fe;

$color-white2 : #f5f9fe;

$color-shadow : #e2ebfc;

@mixin btnTheMe{
    padding: 13.5px 44px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

body {
    background-color: $color-white1;
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    width: 60%;
    margin: auto;
}

header {
    position: fixed;
    z-index: 10;
    background-color: $color-white1;
    box-shadow: 0 2px 4px $color-shadow;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        color: $color-blue;
        font-size: 1.8rem;
       font-weight: 500;
    }
    li {
        padding: 25px;
    }
    a {
        font-weight: 500;
        font-size: 1.1rem;
        position: relative;
        transition: .3s;
        color: $color-blue-dark;
        &:hover{
            color: $color-blue;
        }
        &.active{
            color: $color-blue;
        }
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            bottom: -3px;
           background-color: $color-blue;
           transition: .3s;
        }
        &:hover::before,
        &.active::before {
            width: 100%;
        }
    }
}

.banner {
    background-image: url(../cyberphone/image/product-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .shop {
        @include btnTheMe();
        margin-left: 3px;
        color: $color-blue ;
        border: 2px solid #2a73dd;
    }
    i {
        margin-right: 5px
    }
    .info {
        @include btnTheMe();      
        color: $color-white1;
        border: 2px solid transparent;
        background-color: $color-blue;
    }
    .shop {
        &:hover {
            transition: .3s all;
            color: $color-white1;
            background-color: $color-blue;
        }
    }
    .info {
        &:hover {
            transition: .3s all;
            opacity: .8;
        }
    }
    
    h2 {
        letter-spacing: 1px;
        font-size: 70px;
        font-weight: 700;
        color: $color-blue;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 500;
        color: #1d365e;
        letter-spacing: 0.015rem;
        margin-bottom: 30px;
    }
    p {
        font-size: 1.1rem;
        font-weight: 400;
        color: #656774;
        margin-bottom: 25px;
    }
}