$color-blue : #2a73dd;

$color-blue-dark : #1d365e;

$color-white1 : #f5f9fe;

$color-white2 : #f5f9fe;

$color-shadow : #e2ebfc;

.container {
    margin: auto;
}

body {
    padding-top: 70px;
}

header {
    position: fixed;
    z-index: 10;
    background-color: $color-white1;
    box-shadow: 0 2px 4px $color-shadow;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        color: $color-blue;
        font-size: 1.8rem;
       font-weight: 500;
    }
    li {
        padding: 25px;
    }
    a {
        font-weight: 500;
        font-size: 1.1rem;
        position: relative;
        transition: .3s;
        color: $color-blue-dark;
        &:hover{
            color: $color-blue;
            text-decoration: none;
        }
        &.active{
            color: $color-blue;
        }
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            bottom: -3px;
           background-color: $color-blue;
           transition: .3s;
        }
        &:hover::before,
        &.active::before {
            width: 100%;
        }
    }
    .navbar-toggle {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        color: rgb(144, 133, 133);
        background-color: transparent;
        border: 1px solid rgb(144, 133, 133);
        border-radius: 0.25rem;
        transition: .3s all;
        &:hover {
            background-color: white;
            color: rgb(41, 30, 30);
        }
    }
}

.content-wrap {
    .phone-banner {
        background-color: rgba(29, 38, 113, 0.7);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;
        h3 {
            font-size: calc(1.3rem + .6vw);
            font-weight: 600;
        }
    }
    .btn-banner{
        padding: 0.375rem 0.75rem;
        background-color: #294d5c;
        color: rgba(255, 255, 255, 0.85);
        transition: all 0.15s;
        border-radius: 5px;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

@media screen and (max-width:1024px) {
    #menu li {
        padding: 15px;
    }
}

#exampleModal {
    .head-form {
        padding-top: 15px;
        text-align: center;
        font-size: 210%;
        font-family: 'Playfair Display', serif;
        color: #3e403f;
    }
    #formPhone {
        padding: 2%;
        background-image: linear-gradient(250deg, #e3ecfd, #fff0e8);
        border-radius: 2px;
        .form-group {
            padding: 5px 0;
            margin: 0;
            .sp-thongbao {
                display: block;
                height: 24px;
                width: auto;
            }
        }
    }
}


@media (min-width: 768px) and (max-width:1024px) {
    .container {
        max-width: 640px;
    }
}

@media screen and (max-width:1024px) {
    #menu {
        display: none;
    }
    #navbar-item {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media screen and (min-width:1024px) {
    .navbar-toggle {
        display: none;
    }
    #menu {
        display: flex !important;
    }
}
